.th-point {
  color: white;
  padding: 2px 4px;
  border-radius: 128px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: bold;
  white-space: nowrap;

  &.estimate {
    background-color: #add8e6;
  }

  &.actual {
    background-color: #6060fb;
    &.caution{
      background-color: chocolate;
    }
  }
}
