.th-point {
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: bold;

  &.estimate {
    background-color: #add8e6;
  }

  &.actual {
    background-color: #6060fb;
  }
}
